<% if current_user %>
  Logado como <%= current_user.email %>.
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Cadastre-se", signup_path %> ou
  <%= link_to "Login", login_path %>
<% end %>
<p id=”notice”><%= notice %></p>
<h1>P2P EACH</h1>
<p></p>