<%= form_with scope: :rating, url: ratings_path, local: true do |form| %>
  <%if @rating.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@rating.errors.count, "erros") %>
      não deixaram que esta avaliação fosse salva
    </h2>
    <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

 
  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </p>
 
  <p>
    <%= form.label :nota %><br>
    <%= form.text_field :nota %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 