<h1>Objetos para pegar emprestado</h1>


  <table>
  <tr>
    <th>item</th>
    <th>descrição</th>
    <th>horário</th>
    <th>tags</th>
  </tr>

  <% @anuncios.each do |anuncio| %>
    <tr>
      <td><%= anuncio.item %></td>
      <td><%= anuncio.descrição %></td>
      <td><%= anuncio.horário %></td>
      <td><%= anuncio.tags %></td>
      
      <td><%= link_to 'Show', anuncio_path(anuncio) %></td>
      <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
      <td><%= link_to 'Destroy', anuncio_path(anuncio), method: :delete, data: { confirm: 'Tem certeza que deseja excluir o anuncio?' } %></td>
    </tr>
    <%= link_to 'Novo anúncio', new_anuncio_path %>
  <% end %>
</table>
