<%= form_with scope: :anuncio, url: anuncios_path, local: true do |form| %>
    <p>
      <%= form.label :"item" %><br>
      <%= form.text_field :"item" %>
    </p>
   
    <p>
      <%= form.label :descrição %><br>
      <%= form.text_area :descrição %>
    </p>
   
    <p>
      <%= form.label :horário %><br>
      <%= form.text_field :horário %>
    </p>

    <p>
      <%= form.label :tags %><br>
      <%= form.text_field :tags %>
    </p>

    <p>
      <% tipos = {'Para emprestar'=>'emprestimo', 'Quero emprestado' => 'solicitacao'} %>
      <fieldset>
        <% lista = tipos.sort %>
        <% lista.each do |tipo | %>
          <% form.radio_button :tipo, tipo[1] %>
          <label for="<% tipo[1] %>"> <% tipo[0] %></label>
        <% end %>
      </fieldset>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
