<%= form_with scope: :anuncio, url: anuncios_path, local: true do |form| %>
    <p>
      <%= form.label :"item" %><br>
      <%= form.text_field :"item" %>
    </p>
   
    <p>
      <%= form.label :descrição %><br>
      <%= form.text_area :descrição %>
    </p>
   
    <p>
      <%= form.label :horário %><br>
      <%= form.text_field :horário %>
    </p>

    <p>
      <%= form.label :tags %><br>
      <%= form.text_field :tags %>
    </p>

    <p>
      <%= form.label :tipo %><br>
      <%= form.radio_button :tipo, 'emprestimo' %> Empréstimo<br />
      <%= form.radio_button :tipo, 'solicitacao' %> Solicitação<br />
    </p>

    <p>
      <%= form.label :imagens %><br>
      <%= form.file_field :imagens, multiple: true, :id => "imagem_anuncio_button" %>      
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>