<h3>Resultados da busca</h3>  

<h4> Itens relacionados</h4>
  <table>
  <tr>
    <th>item</th>
    <th>descrição</th>
    <th>horário</th>
    <th>tags</th>
  </tr>

  <% @results.each do |result| %>  
    <tr>
     <td><%=  result.item %></td>
      <td><%= result.descrição %></td>
      <td><%= result.horário %></td>
      <td><%= result.tags %></td>
    </tr>
    <% end %>
</table>

<h4> Tags relacionadas</h4>

<table>
  <tr>
    <th>item</th>
    <th>descrição</th>
    <th>horário</th>
    <th>tags</th>
  </tr>

  <% @tags.each do |tag| %>  
    <tr>
     <td><%=  tag.item %></td>
      <td><%= tag.descrição %></td>
      <td><%= tag.horário %></td>
      <td><%= tag.tags %></td>
    </tr>
    <% end %>
</table>