<p>
  <strong>Item:</strong>
  <%= @anuncio.item %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @anuncio.descrição %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @anuncio.horário %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @anuncio.tags %>
</p>

<br>
<h2><%= @anuncio.comments.count%> Comentários</h2>


<%= render @anuncio.comments %>

<h3>Adicionar um comentário</h3>
<%= render 'comments/form' %>
<br>


<%= link_to 'Back', anuncios_path %>
| <%= link_to 'Edit', edit_anuncio_path(@anuncio) %>