<h3> Item de <%= @anuncio.tipo %></h3>

<% if @anuncio.imagens.attached? %>
  <% (0...@anuncio.imagens.count).each do |imagem| %>
    <div class="show_image_holder">
      <img src = "<%=(url_for(@anuncio.imagens[imagem]))%>", class = "show_imagem_anuncio">
    </div>
  <% end %>
<% else %>
  <div style="width: 200px; height: 200px;">
    <img src = "<%=(image_url('anunciosemimagem.jpeg'))%>", class = "show_imagem_anuncio">
  </div>
<% end %>

<p>
  <strong>Item:</strong>
  <%= @anuncio.item %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @anuncio.descrição %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @anuncio.horário %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @anuncio.tags %>
</p>

<br><strong>Entre em contato - Usuário</strong>
<p>
  <% if @anuncio.usuario.avatar.attached? %>
    <img src = "<%=(url_for(@anuncio.usuario.avatar))%>", class = "pfp">
  <% else %>
    <%= image_tag image_url('default_pfp.jpg'), :class => "pfp" %>
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @anuncio.usuario.nome %> <%= @anuncio.usuario.snome %>
</p>
<p>
  <strong>Email:</strong>
  <%= @anuncio.usuario.email %>
</p>

<br>
<h2><%= @anuncio.comments.count%> Comentários</h2>


<%= render @anuncio.comments %>

<h3>Adicionar um comentário</h3>
<%= render 'comments/form' %>
<br>


<%= link_to 'Back', anuncios_path %>

<% if current_user %>
  <% if @anuncio.usuario_id == current_user.id?%>
    <%= link_to 'Edit', edit_anuncio_path(@anuncio) %>
  <% end %>
<% end %>