          <%= form_tag(search_path, :method => "get",   
            class: 'navbar-form navbar-left') do %>  
          <div class="input-group">  
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
          <div class="input-group-btn">  
          <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
          </div>  
          </div>
          
          <% end %>
<h1>Objetos solicitados</h1>

  <table>
  <tr>
    <th>Imagem</th>
    <th>Item</th>
    <th>Descrição</th>
    <th>Horário</th>
    <th>Tags</th>
    <th>Usuário</th>
  </tr>

  <% @anuncios_de_solicitacao.each do |anuncio| %>
    <tr>
      <% if anuncio.imagens.attached? %>
        <td><img src = "<%=(url_for(anuncio.imagens.first))%>", class="index_imagem_anuncio"></td>
      <% else %>
        <%= %>
        <td><img src = "<%=(image_url('anunciosemimagem.jpeg'))%>", class="index_imagem_anuncio"></td>
      <% end %>

      <td><%= anuncio.item %></td>
      <td><%= anuncio.descrição %></td>
      <td><%= anuncio.horário %></td>
      <td><%= anuncio.tags %></td>
      <td><%= anuncio.usuario.nome %> <%= anuncio.usuario.snome %></td>
      
      <td><%= link_to 'Show', anuncio_path(anuncio) %></td>

      <% if current_user %>
        <% if anuncio.usuario_id == current_user.id %>
          <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
          <td><%= link_to 'Destroy', anuncio_path(anuncio), method: :delete, data: { confirm: 'Tem certeza que deseja excluir o anuncio?' } %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user %>
<%=link_to "add", new_anuncio_path, :class => "material-icons floating-btn" %>
<% end %>