<!DOCTYPE html>
<html>
  <head>
    <title>P2P EACH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <ul class="navbar-list">
      <div id="navbar_title">
        <li><%=link_to "P2P EACH", welcome_index_path, :class => "navbar-list-link" %></li>
      </div>
      <% if current_user %>
        <li><%= link_to "#{current_user.nome} #{current_user.snome}", current_user, :class => "navbar-list-link" %></li>
        <li><%= link_to "LOGOUT", logout_path, :class => "navbar-list-link" %></li>
      <% else %>
        <li><%=link_to "CADASTRE-SE", signup_path, :class => "navbar-list-link" %></li>
        <li><%=link_to "LOGIN", login_path, :class => "navbar-list-link" %></li>
      <% end %>
                      <li><%= link_to "ANÚNCIOS", anuncios_path,:class => "navbar-list-link" %> </li>

    </ul>
    <%= yield %>
</body>
</html>
