<!DOCTYPE html>
<html>
  <head>
    <title>P2P EACH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <ul class="navbar-list">
      <div id="navbar_title">
        <li><%=link_to "P2P EACH", anuncios_path, :class => "navbar-list-link" %></li>
      </div>
      <% if current_user %>
        <li><%= link_to current_user, :class => "navbar-list-link perfil" do%>
          <% if current_user.avatar.attached? %>
            <img src = "<%=(url_for(current_user.avatar))%>", class = "pfp">
          <% else %>
            <%= image_tag image_url('default_pfp.jpg'), :class => "pfp" %>
          <% end %>
          <%= "#{current_user.nome} #{current_user.snome}"%>
        <% end %></li>
        <li><%= link_to "LOGOUT", logout_path, :class => "navbar-list-link" %></li>
      <% else %>
        <li><%=link_to "CADASTRE-SE", signup_path, :class => "navbar-list-link" %></li>
        <li><%=link_to "LOGIN", login_path, :class => "navbar-list-link" %></li>
      <% end %>
        <li><%= link_to "AVALIAÇÕES ", ratings_path,:class => "navbar-list-link" %> </li>
    </ul>
    <%= yield %>
</body>
</html>
